html{
    background: #5E5E5E25;
    zoom: 1.1;
    display: table;
    margin: auto;
}

body {
    width: 1440px;
    height: auto;
    background: #F8F9FA;

    
    color:#495057;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400; 

    padding: 0px;
    margin: 0px;
}


a{
    text-decoration: none;
}

i{
    cursor: pointer;
}

header .logo{
    text-align: left;
}

header .logo span:after {
    content: '.';
    color: #DDBEA9 ;
}


header .nav{
    text-align: center;
}

header .others{
    text-align: right;
}


header a, header span:not(.logo-text), header i{
    color: #49505750;
    padding: 5px;
}


header a:hover{
    color: #495057;

    text-decoration-line: underline;
    text-decoration-color: #DDBEA9;
    text-decoration-thickness: 2px;
}

header i:hover{
    color: #495057;
}


header .logo-text{
    color:#495057;
    font-size: 18px;
    font-weight: 700;  
}

header .nav-list li, header .others-list li{
    margin: 0px 5px;
}


header {
    display: grid;
    margin: 2% 100px 2% 100px;
    grid-template-columns: auto auto auto;
}


.blog-infos{
    margin-top: -100px;
    display: flex;
    justify-content: flex-end;

    grid-template-columns: auto auto;
}

.blog-image{
    background-image: url('./assets/Back 1.jpg');

    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

    margin: 0px 100px 0px 0px;
    height: 600px;
    width: auto;
    border-radius: 0px 5px 5px 0px;
}

.blog-pages{
    width: 735px;

    margin-top: 230px;
    text-align: right;
    margin-right: 30px;

}

.blog-page{
    margin-bottom: 15px;
}

.blog-page a:not(.current){
    color: #49505750;
}

.blog-page .current{
    color: #495057;
    font-size: 25px;
    font-weight: 700;
}


.blog-square{
    background: #5E5E5E10;
    width: 705px;
    height: auto;
}

.blog-details{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 499px;
    height: auto;

    margin-top: 175px;
    margin: 175px 106px 75px 106px;

    /*background: #5E5E5E50;*/
}


.blog-title{
    color: #212529;
    font-size: 25px;
    font-weight: 700;
}

.blog-details hr{
    background-color: #E5E5E5;
    height: 1px;
    width: 100%;
    border: none;
}


.la{
    margin: 0px 100px 100px 100px;
}

.la-title{
    font-size: 25px;
    font-weight: 500;
    margin: 0px 0px 45px 0px;
}

.la-nav span{
    margin-right: 25px;
    cursor: pointer;
    color: #C4C4C4;
}

.la-nav .current{
    color:#495057;
    font-weight: 500;
}


.articles {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 30px; 
  margin: 45px 0px 70px 0px;
}


.article {
  width: 287px;
  /* background: #2291ff3f; */
  height: fit-content;
}


.article .one{
    background-image: url('./assets/Frame 1.jpg');
    height: 200px;
}
.article .two{
    background-image: url('./assets/Frame 2.jpg');
    height: 370px;
}
.article .three{
    background-image: url('./assets/Frame 3.jpg');
    height: 287px;
}
.article .four{
    background-image: url('./assets/Frame 4.jpg');
    height: 370px;
}
.article .five{
    background-image: url('./assets/Frame 5.jpg');
    height: 370px;
}
.article .six{
    background-image: url('./assets/Frame 6.jpg');
    height: 287px;
}
.article .seven{
    background-image: url('./assets/Frame 7.jpg');
    height: 200px;
}
.article .eight{
    background-image: url('./assets/Frame 8.jpg');
    height: 200px;
}


.article-image{
    width: 100%;

    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

    border-radius: 3px;
    margin-bottom: 30px;
}

.article-details{
    display: grid;
    padding: 0px;
    gap: 20px;
    height: auto;
}


.article-title{
    font-size: 16px;
    color: #212529;
    font-weight: 500;
}


.la-pages{
    text-align: center;
}

.la-pages a{
    font-size: 14px;
    color: #49505750;
    font-weight: 500;
    margin: 0px 7px;
}

.la-pages .current{
    color: #495057;
    text-decoration-line: underline;
    text-decoration-color: #DDBEA9;
    text-decoration-thickness: 2px;
}


.instagram{
    margin: 0px 0px 0px 100px;
    background: #ddbea93b;
    
    height: 600px;
    background-image: url('./assets/Frame 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px;

}

.instagram-contents{
    padding: 230px 0px 230px 430px;
    display: grid;
    grid-template-columns: auto max-content;
}

.instagram-details{
    width: 393px;
    height: auto;

    color: #C4C4C4;
    text-align: center;
}

.instagram-details > div{
    margin: 15px 0px;
}

.instagram-pages{
    text-align: right;
    position: relative;
    margin: 0px 205px 0px 0px;

    display: grid;
    gap: 25px;
}

.instagram-pages a{
    color: #C4C4C4;
    margin: 0px 0px 0px 20px;
}

.instagram-pages span{
    color: #C4C4C4;
    font-size: 25px;
}

.instagram-title, .instagram .current{
    font-size: 25px;
    font-weight: 700;
    color: #F8F9FA;
}


.editor{
    margin-top: -100px;
    background: #5e5e5e10;
}

.editor-padding{
    padding:160px 100px 100px 100px;
}

.editor-title{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 50px;
    color: #495057;
}

.editor-content{
    display: grid;
    grid-template-columns: 50% 50%;
}

.editor-pages{
    display: grid;
    gap: 40px;
}

.editor-popular{
    height: 623px;

    background-image: url('./assets/Frame 12.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.editor-page{
    width: 500px;
    height: 181px;

    display: grid;
    grid-template-columns: 181px auto;

    gap: 30px;
}

.editor-page-details{
    display: grid;
    gap: 20px;
}

.editor-page > .one{
    background-image: url('./assets/Frame 11.jpg');
}

.editor-page > .two{
    background-image: url('./assets/Frame 6.jpg');
}

.editor-page > .three{
    background-image: url('./assets/Frame 9.jpg');
}

.editor-page-image{
    height: 181px;
    width: 181px;
    background: #212529 ;

    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 3px;

}

.page-detail-title{
    font-size: 16px;
    font-weight: 500;
    color: #212529;
}


.editor-popular{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.editor-popular-details{
    display: grid;
    gap: 20px;


    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 190px;
}

.editor-popular-time, .editor-popular-desc{
    color: #E5E5E5;
}

.editor-popular-title{
    color: #F8F9FA;
    font-size: 25px;
    font-weight: 700;
}

main hr{
    height: 2px;
    border: none;
    line-height: 0px;
    
    margin: 0px 100px;
    
    background: #E5E5E5;
}


footer {
    display: grid;
    margin-top: -2px;
    padding: 2% 100px 2% 100px;
    background: #5e5e5e10;
    grid-template-columns: auto auto auto;
}

footer .logo{
    text-align: left;
}

footer .logo{
    font-size: 18px;
    font-weight: 700;
    color: #495057;

}

footer .logo:after {
    content: '.';
    color: #DDBEA9 ;
}


footer .nav{
    text-align: center;
    position: relative;
    top: 25%;
}

footer .nav a{
    color: #49505750;
    padding: 0px 12.5px 0px 12.5px;
}

footer a:hover{
    color: #495057;

    text-decoration-line: underline;
    text-decoration-color: #DDBEA9;
    text-decoration-thickness: 2px;
}

footer .copyright{
    text-align: right;
    position: relative;
    top: 25%;
}